@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

audio::-webkit-media-controls-panel {
    padding: 0 10px;
}